.App {
  text-align: center;
}
.tee-link {
  text-decoration: none;
  color: white;
  margin: 0px 20px;
}
.screen-space {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.screen-divide {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
